@font-face {
  font-family: 'Roboto';
  src: url('./Roboto-Regular.eot');
  src: url('./Roboto-Regular.eot?#iefix') format('embedded-opentype'),
  url('./Roboto-Regular.woff') format('woff'),
  url('./Roboto-Regular.ttf') format('truetype'),
  url('./Roboto-Regular.svg#RobotoRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./Roboto-RegularItalic.eot');
  src: url('./Roboto-RegularItalic.eot?#iefix') format('embedded-opentype'),
  url('./Roboto-RegularItalic.woff') format('woff'),
  url('./Roboto-RegularItalic.ttf') format('truetype'),
  url('./Roboto-RegularItalic.svg#RobotoItalic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('./Roboto-Bold.eot');
  src: url('./Roboto-Bold.eot?#iefix') format('embedded-opentype'),
  url('./Roboto-Bold.woff') format('woff'),
  url('./Roboto-Bold.ttf') format('truetype'),
  url('./Roboto-Bold.svg#RobotoBold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./Roboto-BoldItalic.eot');
  src: url('./Roboto-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('./Roboto-BoldItalic.woff') format('woff'),
  url('./Roboto-BoldItalic.ttf') format('truetype'),
  url('./Roboto-BoldItalic.svg#RobotoBoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('./Roboto-Thin.eot');
  src: url('./Roboto-Thin.eot?#iefix') format('embedded-opentype'),
  url('./Roboto-Thin.woff') format('woff'),
  url('./Roboto-Thin.ttf') format('truetype'),
  url('./Roboto-Thin.svg#RobotoThin') format('svg');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./Roboto-ThinItalic.eot');
  src: url('./Roboto-ThinItalic.eot?#iefix') format('embedded-opentype'),
  url('./Roboto-ThinItalic.woff') format('woff'),
  url('./Roboto-ThinItalic.ttf') format('truetype'),
  url('./Roboto-ThinItalic.svg#RobotoThinItalic') format('svg');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('./Roboto-Light.eot');
  src: url('./Roboto-Light.eot?#iefix') format('embedded-opentype'),
  url('./Roboto-Light.woff') format('woff'),
  url('./Roboto-Light.ttf') format('truetype'),
  url('./Roboto-Light.svg#RobotoLight') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./Roboto-LightItalic.eot');
  src: url('./Roboto-LightItalic.eot?#iefix') format('embedded-opentype'),
  url('./Roboto-LightItalic.woff') format('woff'),
  url('./Roboto-LightItalic.ttf') format('truetype'),
  url('./Roboto-LightItalic.svg#RobotoLightItalic') format('svg');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('./Roboto-Medium.eot?#iefix') format('embedded-opentype'),
  url('./Roboto-Medium.woff') format('woff'),
  url('./Roboto-Medium.ttf') format('truetype'),
  url('./Roboto-Medium.svg#RobotoMedium') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./Roboto-MediumItalic.eot');
  src: url('./Roboto-MediumItalic.eot?#iefix') format('embedded-opentype'),
  url('./Roboto-MediumItalic.woff') format('woff'),
  url('./Roboto-MediumItalic.ttf') format('truetype'),
  url('./Roboto-MediumItalic.svg#RobotoMediumItalic') format('svg');
  font-weight: 300;
  font-style: italic;
}
